/* Manrope Google Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* CSS Vars */
:root {
  --purplishBlue: #6250cf;
  --purple: #9b38eb;
  --gentleBlue: #0038fd;
  --white: #ffffff;
  --deepBlue: #18345f;
  --primaryBlue: #0062f4;
  --lightBlueBg: #e5effe;
}
/* General Styles */
html {
  /* overflow-x: hidden; */
}
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  color: #18345f;
  margin: auto;
}
h1 {
  font-weight: bold;
  font-size: 60px;
}
p {
  font-weight: normal;
  font-size: 24px;
}

/* Reusable Classes */

.padding-left-10 {
  padding-left: 10rem;
}
.padding-right-10 {
  padding-right: 10px;
}
.vh-90 {
  height: 600px;
}
.py-max {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-max {
  padding-left: 100px;
  padding-right: 100px;
}
.pl-100 {
  padding-left: 100px;
}
.mxw-400 {
  max-width: 400px;
}
.mxw-700 {
  max-width: 700px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pos-relative {
  position: relative;
}
/* Specific Classes */
nav.navbar {
  padding-left: 10rem;
  padding-right: 10rem;
  background: rgba(255, 255, 255, 0);
}
nav .btn {
  color: var(--primaryBlue);
  border-color: var(--primaryBlue);
}
.jumbo {
  background: var(--lightBlueBg);
}
.infodiv {
  max-width: 657px;
}

.signal {
  position: absolute;
  z-index: 2;
  top: -7%;
  left: -6%;
  /* transform: scale(0.85); */
}
.mockup {
  position: absolute;
  z-index: 2;
  width: 50vw;
  left: 1%;
  top: 36%;
}

.previews {
  padding: 407px 200px 150px 200px !important;
  background-image: url(./assets/withme.png);
  background-repeat: no-repeat;
  background-position: top 15% right 1px;
  background-size: 70%;
}
.preview-pane {
  display: flex;
}
.rect-27 {
  transform: scale(1.5);
  z-index: 3;
}
.rect-28 {
  transform: scale(1.5);
  margin-top: -123px;
}
.rect-29 {
  transform: scale(1.5);
  z-index: 2;
  margin-top: -39px;
}

.cta {
}
.cta-text hr {
  border-top: 5px solid #0062f4;
  width: 50px;
  display: inline-block;
}
.largecircl {
  position: absolute;
  top: -95%;
  left: 28%;
  transform: scale(0.9);
}
.smallcross {
  position: absolute;
  left: 8%;
}
.smallccl {
  position: absolute;
  top: 10%;
  left: 5%;
}

footer .foot {
  background-color: var(--lightBlueBg);
}
footer .copyrights {
  background-color: var(--deepBlue);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
