/* Manrope Google Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* CSS Vars */
:root {
  --purplishBlue: #6250cf;
  --purple: #9b38eb;
  --gentleBlue: #0038fd;
  --white: #ffffff;
  --deepBlue: #18345f;
  --primaryBlue: #0062f4;
  --lightBlueBg: #e5effe;
}
/* General Styles */
html {
  overflow-x: hidden !important;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  color: #18345f;
  margin: auto;
}
h1 {
  font-weight: bold;
  font-size: 60px;
}
p {
  font-weight: normal;
  font-size: 24px;
}
button:focus {
  outline: none;
}

/* Reusable Classes */

.padding-left-10 {
  padding-left: 10rem;
}
.padding-right-10 {
  padding-right: 10px;
}
.vh-90 {
  height: 600px;
}
.py-max {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-max {
  padding-left: 100px;
  padding-right: 100px;
}
.pl-100 {
  padding-left: 100px;
}
.mxw-400 {
  max-width: 400px;
}
.mxw-700 {
  max-width: 700px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pos-relative {
  position: relative;
}
/* Specific Classes */
nav.navbar {
  padding-left: 10rem;
  padding-right: 10rem;
  background: rgba(255, 255, 255, 0);
}
nav .btn {
  color: var(--primaryBlue);
  border-color: var(--primaryBlue);
}
.jumbo {
  background: var(--lightBlueBg);
}
.infodiv {
  max-width: 657px;
}

.signal {
  position: absolute;
  z-index: 2;
  top: -7%;
  left: -6%;
  /* transform: scale(0.85); */
}
.mockup {
  position: absolute;
  z-index: 2;
  width: 50vw;
  left: 1%;
  top: 36%;
}

.previews {
  padding: 300px 12% 50px 12%;
  background-image: url(./assets/withme.png);
  background-repeat: no-repeat;
  background-position: top 15% right 1px;
  background-size: 70%;
}
.preview-pane {
  position: relative;
  display: flex;
  max-width: 100%;
}
.rect-27 {
  z-index: 3;
}
.rect-28 {
  margin-right: -38%;
  margin-top: -15%;
}
.rect-29 {
  margin-left: -27%;
  margin-top: 2%;
  z-index: 2;
}

.cta {
  max-width: 65vw;
  margin: auto;
}
.cta-text hr {
  border-top: 5px solid #0062f4;
  width: 50px;
  display: inline-block;
}

.largecircl svg {
  position: absolute;
  top: -96%;
  right: 0;
  transform: scale(0.95);
  max-width: 65vw;
}
.smallcross {
  position: absolute;
  left: 8%;
}
.smallccl {
  position: absolute;
  top: 10%;
  left: 5%;
}
footer .foot {
  background-color: var(--lightBlueBg);
}

.px-foot {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
footer .copyrights {
  background-color: var(--deepBlue);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  body {
    font-size: 16px;
    margin: auto;
  }
  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  /* Navbar */
  nav.navbar {
    padding-left: 3rem;
    padding-right: 3rem;
    background: rgba(255, 255, 255, 0);
  }
  .fixed-top {
    position: static;
  }

  /* HERO */
  .hero {
    overflow-x: hidden;
  }
  .whitehero {
    height: 30%;
  }
  .signal {
    position: absolute;
    z-index: 2;
    width: 100vw;
    top: -47px;
    left: 10% !important;
    /* transform: scale(0.85); */
  }
  .signal svg {
    width: 100vw;
    height: 70vh;
  }
  .mockup {
    position: absolute;
    z-index: 2;
    width: 100vw;
    transform: scale(1.3);
    left: 18%;
    top: 15%;
  }

  .jumbo {
    padding-top: 40%;
  }
  .infodiv {
    max-width: 657px;
  }

  .previews {
    padding: 120px 3% 50px 3%;
    background-image: url(./assets/withme.png);
    background-repeat: no-repeat;
    background-position: top 15% right 1px;
    background-size: 70%;
  }
  .preview-pane {
    position: relative;
    display: flex;
    max-width: 100%;
  }
  .rect-27 {
    z-index: 3;
  }
  .rect-28 {
    margin-right: -38%;
    margin-top: -15%;
  }
  .rect-29 {
    margin-left: -27%;
    margin-top: 2%;
    z-index: 2;
  }
  .ctad.py-max {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .cta {
    max-width: 90vw;
    margin: auto;
  }
  .cta-text hr {
    border-top: 5px solid #0062f4;
    width: 50px;
    display: inline-block;
  }
  .largecircl svg {
    position: absolute;
    top: -96%;
    right: 0;
    transform: scale(0.95);
    max-width: 65vw;
  }
  .smallcross {
    position: absolute;
    left: 8%;
    left: 60%;
    top: -14%;
  }
  .smallccl {
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .gal.py-max {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gal.pl-100 {
    padding-left: 50px;
  }

  footer .foot {
    background-color: var(--lightBlueBg);
  }

  .px-foot {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .foot.py-max {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer .copyrights {
    background-color: var(--deepBlue);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  nav.navbar {
    padding-left: 5rem;
    padding-right: 5rem;
    background: rgba(255, 255, 255, 0);
  }
  .fixed-top {
    position: static;
  }
  .whitehero {
    height: 30vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
